/*  스크롤에 상관 없이 네비게이션바를
    고정하기 위해서  position 을 bottom에고정 하고 width를 100%
    position: fixed;
    bottom: 0;   
    width: 100%; 

    !!! 패딩때문에 넘어가버린 아이콘을 화면에 맞게 출력
    box-sizing: border-box;
*/
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(105, 99, 99, 0.5);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

/* span은 높이와 넓이를 가질수 없다.
따라서 display를 block으로 변경해야함
사각형을 원으로 만들고 싶다면 border-radius에 사각형의
width의 반을 준다.
- 원안의 글자를  가운데로 맞추기 위해
- position : absolute ->  원하는 위치에 자유롭게 배치 가능하도록 독립된 레이어로 만듦
- position : absolute는 가장 가까운 relative 부모를 경계로 움직임
- nav__notification의 부모를 nav_link로 변경*/
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__something {
  background-color: tomato;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
